<div class="container">

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <form class="user"
                          *ngIf="!isSuccessful"
                          name="form"
                          (ngSubmit)="f.form.valid && onSubmit()"
                          #f="ngForm"
                          novalidate>

                        <div class="form-group">
                            <input type="text"
                                   class="form-control form-control-user"
                                   name="username"
                                   [(ngModel)]="form.username"
                                   required
                                   minlength="3"
                                   maxlength="20"
                                   #username="ngModel"
                                   placeholder="Username">
                            <div class="alert-danger-form" *ngIf="f.submitted && username.invalid">
                                <div *ngIf="username.errors.required">* Username is required</div>
                                <div *ngIf="username.errors.minlength">
                                    * Username must be at least 3 characters
                                </div>
                                <div *ngIf="username.errors.maxlength">
                                    * Username must be at most 20 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email"
                                   class="form-control form-control-user"
                                   name="email"
                                   [(ngModel)]="registerForm.email"
                                   required
                                   email
                                   #email="ngModel"
                                   placeholder="Email Address">
                            <div class="alert-danger-form" *ngIf="f.submitted && email.invalid">
                                <div *ngIf="email.errors.required">* Email is required</div>
                                <div *ngIf="email.errors.email">
                                    * Email must be a valid email address
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password"
                                       class="form-control form-control-user"
                                       name="password"
                                       [(ngModel)]="registerForm.password"
                                       required
                                       minlength="6"
                                       #password="ngModel"
                                       placeholder="Password">
                                <div class="alert-danger-form" *ngIf="f.submitted && password.invalid">
                                    <div *ngIf="password.errors.required">* Password is required</div>
                                    <div *ngIf="password.errors.minlength">
                                        * Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>

<!--                            <div class="col-sm-6">-->
<!--                                <input type="password"-->
<!--                                       class="form-control form-control-user"-->
<!--                                       name="rPassword"-->
<!--                                       [(ngModel)]="form.rpassword"-->
<!--                                       required-->
<!--                                       placeholder="Repeat Password"-->
<!--                                       #rpassword="ngModel"-->
<!--                                >-->
<!--                                <div class="alert-danger-form" *ngIf="f.submitted && rpassword.invalid">-->
<!--                                    <div *ngIf="rpassword.errors.required">* Password is required</div>-->
<!--                                    <div *ngIf="rpassword != password">-->
<!--                                        * Passwords must be the same-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                -->
<!--                            </div>-->

                        </div>
                        <button class="btn btn-primary btn-user btn-block" >Sign up!</button>
                        <hr>
                        <a href="index.html" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </a>
                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a>
                    </form>
                    <hr>
                    <div class="text-center" *ngIf="!isSuccessful">
                        <a class="small" routerLink="/auth/login" routerLinkActive="active">Already have an account? Login!</a>
                    </div>

                    <div class="alert alert-success text-center h-100" *ngIf="isSuccessful">
                        <p>Your registration is successful!</p>
                        <button class="btn btn-primary btn-user btn-block" routerLink="/auth/login" routerLinkActive="active" >Log in!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
