<div class="row comment-row">
    <div [routerLink]="['site/account', comment.fromUser.userId]" (click)="closeModal()">
        <img  class="avatar-image" src="{{comment.fromUser.profilePicture}}" alt="">
    </div>
    <div class="comment-body align-self-center">
        <p>
            <a><strong>{{comment.fromUser.username}}</strong></a>: {{comment.content}} <br>
            <span class="text-xs">
                Published: {{comment.publishedAt | dateAgo}}
            </span>
        </p>
        <hr>
    </div>
    <div class="clearfix"></div>

</div>
