<div class="row comment-row">
    <div [routerLink]="['/site/account', comment.author.userId]" (click)="closeModal()">
        <div class="discover-avatar-image"
             [style.background-image]="getBackground(comment.author.profilePicture)"></div>
    </div>
    <div class="comment-body text-left">
        <p>
            <a><strong>{{comment.author.username}}</strong></a>: {{comment.content}} <br>
            <span class="text-xs">
                Published: {{comment.publishedAt | dateAgo}}
            </span>
        </p>
        <hr>
    </div>
    <div class="clearfix"></div>

</div>
