<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink='/'>
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-apple-alt"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Plapp</div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" routerLink='/discover'>
            <i class="fas fa-binoculars"></i>
            <span>Scopri</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='/greenhouse'>
            <i class="fas fa-warehouse"></i>
            <span>Serra</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='/'>
            <i class="fas fa-hat-cowboy-side"></i>
            <span>Giardiniere</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" routerLink='/account'>
            <i class="fas fa-user"></i>
            <span>Account</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='/settings'>
            <i class="fas fa-cogs"></i>
            <span>Impostazioni</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" routerLink='/about'>
            <i class="fas fa-apple-alt"></i>
            <span>About Plapp</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle">
        </button>
    </div>
</ul>